html, body, #root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
 * {
  font-family: Arial, Helvetica, sans-serif;
 }

 .song-lists {
  width: 100%;
  display: flex;

  &-list {
    flex: 1;
  }
 }
}


.spectrogram {
  height: 200px;
  outline: 1px solid red;
}